<template>
    <div id="popup">
        <b-container>
            <div class="d-flex justify-content-between">
                <div class="d-inline-flex align-items-center">
                    <icon-gitlab-wizard style="height: 1.5rem" class="mr-2" />
                    GitLab Wizard
                </div>
                <div>
                    <b-btn @click="openOptionsPage" variant="link" size="sm" title="Options" v-b-tooltip.left>
                        <b-icon-gear />
                    </b-btn>
                </div>
            </div>

            <hr class="mt-2" />

            <template v-if="presets.length > 0">
                <b-row v-for="(preset, i) in presets" :key="i" class="mb-2">
                    <b-col>
                        <b-button @click="fillPreset(preset)" size="sm" variant="primary">
                            Fill "{{ preset.presetName }}"
                        </b-button>
                    </b-col>
                </b-row>
            </template>
            <b-row v-else class="text-center">
                <b-col> Import preset <b-link @click="openImportModal">here</b-link>. </b-col>
            </b-row>

            <b-alert variant="danger" v-model="error" dismissible>
                Something went wrong. Are you on a merge request page?
            </b-alert>

            <hr />

            <div class="d-flex justify-content-between small">
                <div>
                    <b-icon-info-circle />
                    Version: {{ $store.state.appVersion }}
                </div>
                <div>
                    <b-icon-heart />
                    <b-link href="https://gitlab.com/FelixGraf/gitlab-wizard" target="_blank" rel="noopener">
                        Contribute
                    </b-link>
                </div>
            </div>
        </b-container>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import IconGitlabWizard from '../components/IconGitlabWizard.vue';

export default {
    components: { IconGitlabWizard },
    data() {
        return {
            error: false,
        };
    },

    computed: {
        ...mapState('mergeRequests', ['presets']),
    },

    methods: {
        async fillPreset(preset) {
            const activeTab = await this.getActiveTab();

            if (!activeTab) {
                this.error = true;
                return;
            }

            if (!this.isMergeRequestPage(activeTab.url)) {
                this.error = true;
                return;
            }

            await this.$browser.tabs.sendMessage(activeTab.id, {
                command: 'fillApprovers',
                payload: {
                    group: {
                        name: preset.presetName,
                        approvers: preset.approvers,
                    },
                    numberApprovalsRequired: preset.numberApprovalsRequired,
                },
            });

            if (preset.approversAsReviewers) {
                await this.$browser.tabs.sendMessage(activeTab.id, {
                    command: 'fillReviewers',
                    payload: {
                        reviewers: preset.approvers,
                    },
                });
            }

            await this.$browser.tabs.sendMessage(activeTab.id, {
                command: 'fillOptions',
                payload: {
                    deleteSourceBranch: preset.deleteSourceBranch,
                    squashCommits: preset.squashCommits,
                    assignToMe: preset.assignToMe,
                },
            });

            await this.$browser.tabs.sendMessage(activeTab.id, {
                command: 'fillLabels',
                payload: {
                    labels: preset.labels,
                },
            });

            await this.$browser.tabs.sendMessage(activeTab.id, {
                command: 'fillTemplate',
                payload: {
                    template: preset.template,
                },
            });
        },

        isMergeRequestPage(urlToCheck) {
            const url = new URL(urlToCheck);
            return (
                url.pathname.includes('/merge_requests/new') ||
                url.pathname.match(new RegExp('/merge_requests/(.+)/edit'))
            );
        },

        openOptionsPage() {
            this.$browser.runtime.openOptionsPage();
        },

        async getActiveTab() {
            return this.$browser.tabs.query({ active: true, currentWindow: true }).then(tabs => {
                return tabs[0];
            });
        },

        openImportModal() {
            this.$browser.tabs.create({ url: 'options/options.html?import=true' });
        },
    },
};
</script>

<style>
#popup {
    width: 350px;
    padding: 20px;
}
</style>
