<template>
    <b-container class="mt-5 pb-4">
        <h1 class="d-flex align-items-center">
            <icon-gitlab-wizard style="height: 2rem" class="mr-2" />
            GitLab Wizard <small class="ml-2">v{{ $store.state.appVersion }}</small>
        </h1>
        <p>
            Here you can edit the presets, that you want to be filled into a merge request.
        </p>

        <preset-card v-for="(preset, i) in presets" :key="i" :preset="preset" :preset-index="i" />

        <b-button block @click="addPreset"> <b-icon-plus /> Add preset </b-button>
        <b-button block @click="openExportModal" variant="info"> <b-icon-cloud-download /> Export presets </b-button>
        <b-button block @click="openImportModal" variant="success"> <b-icon-cloud-upload /> Import presets </b-button>

        <export-modal ref="exportModal" />

        <import-modal ref="importModal" />
    </b-container>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import PresetCard from './components/PresetCard.vue';
import IconGitlabWizard from '../components/IconGitlabWizard.vue';
import ImportModal from './components/ImportModal';
import ExportModal from './components/ExportModal';

export default {
    name: 'Options',
    components: {
        PresetCard,
        IconGitlabWizard,
        ImportModal,
        ExportModal,
    },

    computed: {
        ...mapState('mergeRequests', ['presets']),
    },

    mounted() {
        const isExternalImport = new URLSearchParams(window.location.search).get('import') === 'true';

        if (isExternalImport) {
            this.openImportModal();
        }
    },

    methods: {
        ...mapMutations('mergeRequests', ['addPreset']),

        openExportModal() {
            this.$bvModal.show(this.$refs.exportModal.modalId);
        },

        openImportModal() {
            this.$bvModal.show(this.$refs.importModal.modalId);
        },
    },
};
</script>

<style lang="scss">
// Fixes wrong positioned tooltip,
// see https://github.com/bootstrap-vue/bootstrap-vue/issues/1732#issuecomment-678806650
.b-tooltip:not([style*='transform']) {
    top: 0;
}
</style>
