<template>
    <b-modal :id="modalId" title="Export preset" @hidden="resetModal" hide-footer>
        <b-form-checkbox-group
            v-model="presetIndexList"
            :options="presets.map((preset, index) => ({ value: index, text: preset.presetName }))"
            stacked
        />

        <b-form-textarea
            ref="exportTextarea"
            class="mt-3 mb-2"
            rows="10"
            placeholder="Export field"
            :value="selectedPresets"
            readonly
            @click="selectTextAreaText"
        />

        <b-button block @click="copyToClipboard" variant="info"> <b-icon-clipboard /> Copy to clipboard </b-button>
    </b-modal>
</template>

<script>
import { mapState } from 'vuex';

export default {
    name: 'ExportModal',

    computed: {
        ...mapState('mergeRequests', ['presets']),

        selectedPresets() {
            return JSON.stringify(this.presets.filter((preset, index) => this.presetIndexList.includes(index)));
        },
    },

    data() {
        return {
            modalId: 'bv-modal-export-modal',
            presetIndexList: [],
        };
    },

    methods: {
        selectTextAreaText() {
            this.$refs.exportTextarea.select();
        },

        copyToClipboard() {
            this.selectTextAreaText();
            document.execCommand('copy');
        },

        resetModal() {
            this.presetIndexList = [];
        },
    },
};
</script>
