<template>
    <b-modal :id="modalId" title="Import preset" @hidden="resetModal" hide-footer>
        <b-form-textarea
            ref="importTextarea"
            class="mb-2"
            rows="10"
            placeholder="Import field"
            v-model="newPresetsAsString"
        />

        <b-button block @click="importPresets" variant="success"> <b-icon-cloud-upload /> Import presets </b-button>
    </b-modal>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
    name: 'ImportModal',
    data() {
        return {
            modalId: 'bv-modal-import-modal',
            newPresetsAsString: '',
        };
    },
    methods: {
        ...mapMutations('mergeRequests', ['addPresets']),

        importPresets() {
            try {
                this.addPresets(JSON.parse(this.newPresetsAsString));

                this.$bvModal.hide(this.modalId);
            } catch {
                this.$bvToast.toast('Your JSON is invalid', {
                    title: 'Invalid JSON',
                    toaster: 'b-toaster-top-center',
                    variant: 'danger',
                    solid: true,
                });
            }
        },

        resetModal() {
            this.newPresetsAsString = '';
        },
    },
};
</script>
